*{margin:0;padding:0;box-sizing:border-box}

body{
    min-height:100vh;
    background:
      linear-gradient(rgba(25,8,15,.7),rgba(25,8,15,.8)),
      url("anhbackground.jpg") center/cover no-repeat;
    font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;
    color:#fff;
    overflow:hidden;
}

/* ĐÈN NOEL */
.lights{
    position:fixed;top:8px;width:100%;
    display:flex;justify-content:center;gap:14px;z-index:5
}
.lights span{
    width:8px;height:8px;border-radius:50%;
    background:red;animation:blink 3s infinite alternate
}
.lights span:nth-child(even){
    background:gold;animation-delay:1.5s
}

/* TUYẾT */
.snowflake{
    position:fixed;top:-10px;
    color:white;font-size:14px;
    animation:fall linear infinite;
    pointer-events:none;opacity:.8
}

/* MÀN KHÓA */
.lock{
    position:absolute;top:40%;left:50%;
    transform:translate(-50%,-50%);
    background:rgba(255,255,255,.15);
    padding:24px;border-radius:25px;
    text-align:center;backdrop-filter:blur(12px)
}
.lock input{
    margin-top:10px;padding:8px;width:150px;
    border-radius:20px;border:none;text-align:center
}
.lock button{
    margin-left:6px;padding:8px 14px;
    border-radius:20px;border:none;
    background:#ff4d6d;color:#fff
}

/* THIỆP */
.card{
    position:absolute;top:50%;left:50%;
    transform:translate(-50%,-50%);
    background:rgba(255,255,255,.18);
    width:380px;padding:26px;
    border-radius:28px;text-align:center;
    backdrop-filter:blur(18px);
    box-shadow:0 25px 60px rgba(0,0,0,.45)
}
.hidden{display:none}

.photo{width:100%;border-radius:18px;margin-bottom:10px}

button{
    margin-top:12px;padding:10px 18px;
    border-radius:25px;border:none;
    background:linear-gradient(45deg,#ff4d6d,#ff8fa3);
    color:#fff
}

.typing-text,.secret{
    line-height:1.4;
    letter-spacing:.3px;
    white-space:normal
}

/* TIM */
.heart{
    position:fixed;bottom:-10px;
    font-size:18px;animation:floatUp 6s linear forwards
}

/* ANIMATION */
@keyframes fall{to{transform:translateY(110vh) translateX(60px)}}
@keyframes floatUp{to{transform:translateY(-110vh);opacity:0}}
@keyframes blink{from{opacity:.4}to{opacity:1}}
